* {
    outline: none;
    padding: 0;
    &::after {
        margin: 0;
        padding: 0;
    }
    &::before {
        margin: 0;
        padding: 0;
    }
}

body {
    overflow-x: hidden;
    height: 100%;
    position: relative;
    max-width: 100%;
    font-family: poppins, sans-serif;
	font-size:1rem;
}

p {
    line-height: 1.8;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}