.new-campaign{
    @include page-layout-style;
    .header-container{
        @include justify-space-between-style;
        .page-title{
            @include  page-title-style;
        }
        .alert{
            height: 30px;
        }
    }
    .form-container{
        background-color:$snowa-bg-color-white;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 3px;
        .text-box{
           background-color: $snowa-bg-color-white-smoky;
           &.datefield-width{
            width:374px;
           }
        }
        .error-Validation{
            @include text-input-error-style;
            background-color: $snowa-bg-color-white;
            &.datefield-width{
                width:374px;
            }
        }
        .actions-buttons{
            @include justify-content-center;
            gap: 40px;
            .cancel{
                @include reset-button-style;
            }
            .add{
                @include save-button-style;
            }
        }
    }
}