@import "../abstracts/variable";

.credit-statbox-main {
    border-radius: 6px;
    min-width: 500px;
    min-height: 150px;
    background-color:$snowa-bg-color-white;
    box-shadow: $shadow-box;
    flex:1;
    @include flex-d-column-style;
    padding: 15px 15px 15px 15px;
    &.hightlight-box{
        background-color: $snowa-bg-color-light;
    }
    .statbox-alignment {
        display: flex;
        position: relative;
        gap: 1rem;
        flex: 1;
        .icon-container{
            border-radius: 50%;
            @include justify-align-center-style;
            height: 50px;
            width: 50px;
            font-size: $h2-font-size;
            color: $snowa-secondary-color-dark;
            background-color: $snowa-secondary-color-vlight;
            color : $snowa-text-completed-color;
        }
        .header-container{
            flex: 1;
            @include flex-d-column-style;
            .title-container{
                @include flex-d-column-style;
                flex: 1;
                gap: 0.4rem;
                .title-header-main {
                    @include flex-align-center-style;
                    gap : 0.2rem;
                    .box-title {
                        font-size: $h5-font-size;
                        font-weight: $font-weight-semibold;
                        text-align: left;
                        color: $snowa-text-completed-color;
                        text-transform: uppercase;
                        font-family: $font-family-base !important;
                    }
                    .icon-main{
                        @include flex-align-center-style;
                        .icon-size{
                        font-size: $h7-font-size;
                        color: $snowa-text-secondary-medium;
                        }
                    }
                }
                .whatsapp-value-main{
                    @include flex-d-column-style;
                    gap : 3px;
                    .box-value {
                    text-align: left;
                    font-weight: $font-weight-semibold !important;
                    font-size: $h13-font-size;
                    color: $snowa-text-primary-color;
                    }
                    .msg-name-style{
                        font-size : $h9-font-size;
                        color : $snowa-text-ntc-dur-color;
                    }
                }
            }
        }
    } 
    .button-style{
        @include save-button-style;
        width : 120px;
        background-color: $snowa-text-completed-color;
        align-self: end;
    }
}
